.container {
    position: absolute;
    top: 0;
    width: 59%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.container img {
    object-fit: cover
}

.container h3 {
    color: #fff;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    position: absolute;
    bottom: 12%;
    z-index: 1;
}