/* .container,
.notVisibleContainer {
    width: calc(68vw / 7);
    height: calc(68vw / 7);
    max-height: calc(80vh / 4);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(48, 51, 48);
    border-top: 2px solid dimgray;
    border-right: 2px solid rgb(132, 132, 132);
    border-bottom: 2px solid rgb(132, 132, 132);
    border-left: 2px solid dimgray;
}

.container span {font-family: "MortalKombatRegular";
    font-style: italic;
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 4px 0 0 black;
    color: floralwhite;
    position: absolute;
    left: 50%;
    top: 10%;
}

.notVisibleContainer {
    background-color: dimgray;
}

.activeHero {
    transform: scale(1.08);
    border: 8px solid rgb(13, 226, 13);
} */