.baseContainer {
    background-color: dimgray;
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vw / 2.32);
    max-height: 94vh;
}

.container {
    width: 76vw;
    padding-top: calc(100vw / 114);
}

.title {
    font-family: "MortalKombatRegular";
    font-style: italic;
    font-size: calc(100vw / 62);
    text-transform: uppercase;
    text-shadow: 4px 0 0 black;
    color: floralwhite;
    margin-bottom: 4px;
}

.menuContainer {
    position: relative;
}

/* hero list styles */
.listItemContainer,
.listItemNotVisibleContainer {
    position: relative;
    width: calc(68vw / 7);
    height: calc(68vw / 7);
    max-height: calc(80vh / 4);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listItemContainer {
    background-color: rgb(48, 51, 48);
    border-top: 2px solid dimgray;
    border-right: 2px solid rgb(132, 132, 132);
    border-bottom: 2px solid rgb(132, 132, 132);
    border-left: 2px solid dimgray;
}

.listItemContainer span {font-family: "MortalKombatRegular";
    font-style: italic;
    font-size: calc(100vw / 42);
    text-transform: uppercase;
    text-shadow: 4px 0 0 black;
    color: floralwhite;
    position: absolute;
    left: 50%;
    top: 10%;
}

.listItemNotVisibleContainer {
    background-color: dimgray;
}

.listItemActiveHero,
.listItemActiveHero {
    transform: scale(1.08);
}

.listItemActiveHeroLightGreen {
    border: 8px solid rgb(13, 226, 13);
}

.listItemActiveHeroDarkGreen {
    border: 8px solid rgb(19, 119, 19);
}