.container {
    width: calc(100vw / 8);
    height: auto;
    position: absolute;
    bottom: -30px;
    left: -10px;
}

.imgContainer {
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 6px -6px 4px rgb(13, 226, 13);
    overflow: hidden;
}

.container h4 {
    font-size: calc(100vw / 98);
    text-shadow: 0 0 6px #fff;
    position: absolute;
    right: 16px;
    bottom: 20px;
}